.fast-contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 3px 12px #dbdbdb;
    padding: 10px;
    padding: 14px;
    margin-bottom: 100px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fast-contact-container p {
    font-size: 12pt;
    padding: 10px;
    text-align: left;
    color: #585858;
}

select {
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 14pt;
    text-align: left;
    outline: none;
    cursor: pointer;
}

input[type="text"] {
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 14pt;
    outline: none;
}

.fast-contact-container section {
    padding: 0px 10px;
}