@import url('navbar.css');
@import url('main-content.css');
@import url('footer.css');
@import url('media-queries-mobile.css');
@import url('media-queries-notebooks.css');
@import url('message.css');
@import url('form.css');

*{
    margin: 0;
    padding: 0;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.container{
    display: flex;
    justify-content: center;
}