@media only screen and (min-width: 1366px) {

    .main-content-container {
        width: 85% !important;
    }

    nav div {
        width: 92%;
    }

    img#logo-nav {
        width: 250px;
        margin-top: 80px;
    }

}

@media only screen and (min-width: 1378px) {

    .main-content-container {
        width: 90% !important;
    }

    nav div {
        width: 92%;
    }

    img#logo-nav {
        width: 250px;
        margin-top: 80px;
    }

}

@media only screen and (min-width: 1920px) {

    .main-content-container {
        width: 85% !important;
    }
    

    nav div {
        width: 80%;
    }

    img#logo-nav {
        width: 250px;
        margin-top: 100px;
    }


}