@media only screen and (max-width: 1280px) {



    .form-modal-content form {
     
        border-radius: 10px !important;
        box-shadow: 1px 2px 5px #121212;
        background-color: #fff;
        /* width: 55%; */
        height: 70vh;
        text-align: center;
    }

    .form-modal-content form button {
        padding: 20px 15px !important;
        border: none !important;
        background-color: #1e03fb !important;
        color: #fff !important;
        font-weight: bold !important;
        font-size: 1.2em !important;
        /* margin: 10px 30px !important; */
        border-radius: 5px !important;
        cursor: pointer !important;
        transition: 0.5s !important;
        /* width: 90% !important; */
    }

    .form-modal-content form button {
        padding: 20px 15px !important;
        border: none !important;
        background-color: #1e03fb !important;
        color: #fff !important;
        font-weight: bold !important;
        font-size: 1.2em !important;
        /* margin: 10px 30px !important; */
        border-radius: 5px !important;
        cursor: pointer !important;
        transition: 0.5s !important;
        /* width: 90% !important; */
    }

    .main-content-brand img {
        display: none;
    }

    .main-content-text h1 {
        font-size: 2em;
    }


    .main-content-container {
        height: auto;
        width: 85%;
        text-align: center;
    }

    .main-content-text h1 {
        width: 100%;
    }

    .main-content-text p {
        width: 100%;
        padding: 10px 0px;
    }

    .main-content-text button {
        padding: 15px;
        width: 100%;
    }

    .hide-mobile {
        display: none;
       
    }

    nav ul {
        text-align: center;
    }

    footer div {
        text-align: center;
    }


    .tag-container {
        padding: 10px;
        margin-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }

    form{
        flex-wrap: wrap;
    }

    .main-content-text{
        width: auto;
    }

    #logo-nav {
        margin-top: 25px;
    }

    .fast-contact-container section{
        width: 100%;
    }

    select{
        width: 100%;
    }

    input[type="text"]{
        width: 100%;
        padding: 5px 0px !important;
        margin-left: 0px;
    }

}